@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300;400;500&family=Roboto+Mono:wght@200;300;400;500&family=Syne:wght@400;500;600;700&display=swap');
@import url('https:; //api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap" rel="stylesheet');

// font-family: 'Satoshi', sans-serif;
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Roboto Mono', sans-serif;
// font-family: 'Syne', sans-serif;

:root {
	--baseFont: 'Satoshi', 'Noto Sans KR', 'Nanum Gothic', '맑은 고딕';
	--titleFont: 'Roboto Mono', 'sans-serif', 'Noto Sans KR', 'Nanum Gothic', '맑은 고딕';
	--pointFont: 'Syne', 'sans-serif', 'Noto Sans KR', 'Nanum Gothic', '맑은 고딕';
	--baseColor: #191919;
	--baseColor-code: 26, 26, 26;
	--bgColor-code: 253, 252, 246;
	--pointColor-code: 95, 194, 161;
	--bgColor: #fdfbf5;
	--pointColor: #5fc2a1;
	--baseSize: 1rem;
	--titleSize: 8rem;
}

.dark {
	--baseColor: #efefef;
	--baseColor-code: 253, 252, 246;
	--bgColor-code: 26, 26, 26;
	--bgColor: #191919;
}
